.profil-image {
    width: 100px;
    height: 100px;
    /*border-radius: 10%;*/
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    background-image: url('https://www.fond-ecran-hd.net/Public/uploads/2019-01-14/1397.jpg'); /* Remplacez par le chemin de votre image */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150%; /* Ajustez selon vos besoins */
    background-position: left top;
}

.darkness {
    background-color: rgba(0, 0, 0, 0.5);
}

.icons {
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.justify{
    text-align: justify;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #262c31;
    background-color: #fff6ec;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-white-custom {
    background-color: #fff7ed;
}

.bg-light-custom {
    background-color: #f8f9fa;
}

.bg-dark-custom {
    background-color: #262c31;
}

.bg-primary-custom {
    background-color: #048ce1;
}

.bg-secondary-custom {
    background-color: #04e121;
}

.bg-success-custom {
    background-color: #28a745;
}

.bg-info-custom {
    background-color: #17a2b8;
}

.bg-warning-custom {
    background-color: #ffc107;
}

.bg-danger-custom {
    background-color: #dc3545;
}